* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  padding: 5rem;
}

.box-container {
  padding-bottom: 20rem;
}

.box-containers {
  padding-bottom: 20rem;
  display: flex;
}

.box {
  width: 15rem;
  height: 15rem;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boxItem {
  width: 0.2rem;
  height: 0.2rem;
  background-color: red;
  padding: 2rem;
  list-style: none;
  margin: 0.5rem;
}

.boxSpecial {
  width: 15rem;
  height: 15rem;
  margin: 3rem;
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.animated {
  position: absolute;
  top: 130rem;
  left: 10rem;
  display: block;
  justify-content: center;
  width: 80%;
  height: 20rem;
  background-color: chocolate;
}

button {
  border: none;
  background-color: blue;
  color: white;
  padding: 0.3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: 1.5rem;
  margin-bottom: 3rem;
  font-size: 1.25rem;
  font-weight: 700;
  width: 15rem;
  cursor: pointer;
}
